<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de</title>
</head>
<body>

    <h1>Acerca de StudyHub</h1>

    <p>
        StudyHub es una plataforma creada para ayudar a estudiantes
        a organizar sus proyectos, tareas y avances académicos.
    </p>

    <h2>Nuestro objetivo</h2>

    <p>
        Nuestro objetivo es facilitar el trabajo de los estudiantes
        mediante herramientas simples y fáciles de utilizar.
    </p>

    <h2>componentes</h2>

    <ul>
        <li>{{ wifi }}</li>
        <li>{{ enchufes }}</li>
        <li>{{ cafe }}</li>
        <li>{{ ambiente }}</li>
    </ul>

    <h2>Contacto</h2>

    <p>
        Puedes comunicarte con nosotros para enviar sugerencias
        o informar problemas relacionados con la plataforma.
    </p>

</body>
</html>